<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%=title%></title>
</head>
<body>
    <h1>PLEASE FILL THIS FORM</h1>
    <h3>the no of users in database is <%=data%></h3>

    <form method="POST" action="/register">
       <input type="text" name='name' placeholder="username" required><br><br>
       <input type="email" name="email" placeholder="email" required><br><br>
       <input type="password" name="password" placeholder="password" required><br><br>
       <input type="submit" name="submit" value="submit"><br><br>
    </form>
    
</body>
</html>